services:
  # PHP-FPM (Называем сервис 'app', чтобы nginx его видел по этому имени)
  app:
    build: . # Вместо image: php:8.4-fpm
    container_name: laravel-app
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - ./:/var/www
    networks:
      - laravel-network

  # Nginx
  nginx:
    image: nginx:alpine
    container_name: laravel-nginx
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel-network

  # MySQL
  db:
    image: mysql:8.0
    container_name: laravel-db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      # СТРОКИ MYSQL_USER И MYSQL_PASSWORD ДЛЯ ROOT УДАЛЯЕМ ОТСЮДА
    ports:
      - "3306:3306"
    networks:
      - laravel-network

  # phpMyAdmin
  phpmyadmin:
    image: phpmyadmin:latest
    container_name: laravel-pma
    restart: unless-stopped
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db
    depends_on:
      - db
    networks:
      - laravel-network

networks:
  laravel-network:
    driver: bridge